<!DOCTYPE html>
<html>
<head>
    <title>Admin Layout Default</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="/dist/css/admin.css" rel="stylesheet">
</head>
<body>

    <div>Gambit Admin</div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('admin/home') }}">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Catalog <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('admin/lines') }}">Lines</a></li>
                    <li><a href="{{ url('admin/advertised-lines') }}">Advertised Lines</a></li>
                    <li><a href="{{ url('admin/accepted-lines') }}">Accepted Lines</a></li>
                    <li><a href="{{ url('admin/credits') }}">Credits</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Sports <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('admin/football') }}">Football</a></li>
                    <li><a href="{{ url('admin/basketball') }}">Basketball</a></li>
                    <li><a href="{{ url('admin/hockey') }}">Hockey</a></li>
                    <li><a href="{{ url('admin/soccer') }}">Soccer</a></li>
                </ul>
            </li>
            <li><a href="{{ url('admin/customers') }}">Customers</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Sales <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('admin/sales/advertised-lines') }}">Advertised Lines</a></li>
                    <li><a href="{{ url('admin/sales/accepted-lines') }}">Accepted Lines</a></li>
                    <li><a href="{{ url('admin/sales/credits') }}">Credits</a></li>
                </ul>
            </li>
            <li><a href="{{ url('admin/sites') }}">Sites</a></li>
            <li><a href="{{ url('admin/stores') }}">Stores</a></li>
            <li><a href="{{ url('admin/users') }}">Users</a></li>
        </ul>
    </nav>

    <div>
        {{ link_to('admin/logout','Logout') }}
    </div>

    <ol class="breadcrumb">
        <li><a href="#">Admin</a></li>
        <li><a href="#" class="active">Sites</a></li>
    </ol>

    <div id="page-content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="/dist/js/admin.js"></script>
    <script type="text/javascript">
        var mesour = !mesour ? {} : mesour;
        mesour.parameters = !mesour.parameters ? [] : mesour.parameters;
        mesour.parameters.push(["set", "_token", "{{ csrf_token() }}"]);
    </script>

</body>
</html>