{% extends "core::layouts.frontend.default" %}

{% block content %}

    <h1>Slip</h1>

    <div>
        {{ link_to_route('slip.checkout','Submit') }}
    </div>

    <ol>
        {% for item in quote.advertisedLineItems %}
            <li>Line

                <p>Inventory: {{ item.inventory }}</p>
                <p>Min Wager: {{ item.amount }}</p>
                <p>Max Wager: {{ item.amountMax }}</p>

                {{ link_to_route('slip.line_edit','Modify Line',{index: loop.index}) }}
                <a href="#">Remove Line</a>

                <ul>
                    {% for prediction in item.predictions %}
                        <li>
                            <p>{{ prediction.game.displayTitle }}</p>
                            <p>{{ prediction.pick.name }} +{{ prediction.spread }}</p>

                            <a href="#">Alter Prediction</a>
                            <a href="#">Remove Prediction</a>

                        </li>
                    {% endfor %}

                </ul>
            </li>
        {% endfor %}
    </ol>

{% endblock %}