{% extends "core::layouts.frontend.default" %}

{% block breadcrumbs %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Checkout</a></li>
        <li class="breadcrumb-item active"><a href="#">Review Order</a></li>
    </ol>

{% endblock %}

{% block footer %}

    {{ link_to_route('checkout.complete','Submit Order',{},{class: 'btn btn-primary pull-right'}) }}

{% endblock %}

{% block content %}

    {% for item in quote.advertisedLineItems %}
        <div class="panel panel-default">

            <div class="panel-heading">

                <span><strong>Side:</strong>&nbsp;{{ item.side.humanName }}</span>&nbsp;|&nbsp;
                <span><strong>Odds:</strong>&nbsp;{{ item.odds }}</span>&nbsp;|&nbsp;
                <span><strong>Min Wager:</strong>&nbsp;{{ item.amount }}</span>&nbsp;|&nbsp;
                <span><strong>Max Wager:</strong>&nbsp;{{ item.amountMax|default('--') }}</span>&nbsp;|&nbsp;
                <span><strong>Inventory:</strong>&nbsp;{{ item.inventory }}</span>

            </div>

            <div class="panel-body">

                {% for prediction in item.predictions %}

                    <p>{{ prediction.game.displayTitle }}</p>

                    <ul>
                        <li>{{ prediction.pick.name }} +{{ prediction.spread }}</li>
                    </ul>

                    <hr>

                {% endfor %}

                <div>
                    <strong>Cost:</strong>&nbsp;{{ item.calculateCost() }}
                </div>

            </div>

        </div>
    {% endfor %}

    <ol>

        {% for item in quote.acceptedLineItems %}

                <li>Accepted Line

                    <p>Line: {{ item.advertisedLine.id }}</p>
                    <p>Amount: {{ item.amount }}</p>
                    <p>Quantity: {{ item.quantity }}</p>

                </li>

        {% endfor  %}

    </ol>

    <div class="well text-right">
        <strong>Total Cost:</strong>&nbsp;{{ quote.calculateTotalCost() }}
    </div>

{% endblock %}