{% extends "core::layouts.frontend.default" %}

{% block navbarBrand %}
    {{ event.displayTitle }}
{% endblock  %}

{% block breadcrumbs %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Sports</a></li>
        <li class="breadcrumb-item"><a href="#">Football</a></li>
        <li class="breadcrumb-item active">NFL</li>
    </ol>

{% endblock %}

{% block content %}

    {% for line in lines %}

        <div class="panel panel-default">
            <div class="panel-heading">

                <span>{{ line.odds > 0 ? '+' ~ line.odds : line.odds }}</span>&nbsp;
                <span>{{ line.side.humanName }}</span>

                <span class="pull-right">{{ link_to_route('line.accept','Accept Line',{lineId: line.id}) }}</span>

            </div>
            <div class="panel-body">

                {% for prediction in line.predictions %}

                    {# PredictionTypeManager.getTypeByEntity(prediction).getInlineView(prediction) #}
                    {{ view('prediction::prediction.inline',{prediction: prediction}) }}

                    {% if loop.last != 1 %}<hr>{% endif %}

                {% endfor %}

            </div>
        </div>

    {% endfor %}

{% endblock %}