{% extends "core::layouts.frontend.default" %}

{% block content %}

    <h1>{{ event.displayTitle }}</h1>
    <p>{{ event.startsAt }}</p>

    <table width="100%">
        <tbody>

            {% for line in lines %}
                <tr>
                    <td>{{ line.id }}</td>
                    <td>{{ line.side.humanName }}</td>
                    <td>{{ line.odds > 0 ? '+' ~ line.odds : line.odds }}</td>
                    <td>{{ link_to_route('line.accept','Accept Line',{lineId: line.id}) }}</td>
                </tr>
                <tr>
                    <td colspan="3">

                        {% for prediction in line.predictions %}

                            {# PredictionTypeManager.getTypeByEntity(prediction).getInlineView(prediction) #}
                            {{ view('prediction::prediction.inline',{prediction: prediction}) }}

                        {% endfor %}

                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}